/*
QLabel
{
	background: #FFCC00;
	color: #000000;
}
*/

MyWidget
{
	background: #FF0000;
}

BeatSheetGridWidget
{
	background: #FF0000;
}

BeatSheetItemWidget
{
		background: #FF0000;
}

QLabel#CharacterList
{
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	font-size: 35px;
}
